:root {
  --primary-color: #2c2c2c;
  --primary-white-color: #ffffff;
  --accent-color: #bbf330;
  --accent-btn-color: #ffe450;
  --border-color: #ffe550;
  --text-link-color: #7eb101;
}

body {
  color: var(--primary-color);
  background-color: var(--primary-white-color);

  font-family: "Roboto", sans-serif;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.item {
  margin: 0;
  padding: 0;
}

/*----------------Site Header!------------------*/

/*-----Logo-----*/

/*-----Site-nav-----*/

.site-nav .link {
  color: var(--primary-color);

  font-size: 14px;
  line-height: 1.14;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-decoration-line: underline;
}

/*-----Button!-----*/

.button {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
}

.button.primary {
  background-color: var(--accent-color);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--accent-btn-color);
}

.button.secondary {
  background-color: var(--primary-white-color);
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
}

/*----------------Main Part!------------------*/

/*-----Hero!-----*/

.hero .title {
  font-size: 48px;
  line-height: 1.2;
}

.hero .text {
  font-size: 16px;
  line-height: 1.5;
}

/*-----Slayder!------*/

.carousel-wrapper {
  width: 528px;
  height: 528px;
  position: relative;
  margin: auto;
}
.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 2s ease-out;
}
.arrow {

  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/* .light {
  color: white;
} */

/* @media (max-width: 480px) {
  .arrow,
  .light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
} */

/*-----Select  element-----*/

[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background: url("/images/Foto-1-min.jpg");
  background-size: cover;
  border: 26px solid var(--border-color);
  border-radius: 269px;
}
.item-2 {
  background: url("/images/Foto-2-min.jpg");
  background-size: cover;
  border: 26px solid var(--border-color);
  border-radius: 269px;
}
.item-3 {
  background: url("/images/Foto-3-min.jpg");
  background-size: cover;
  border: 26px solid var(--border-color);
  border-radius: 269px;
}

:target ~ .item-1 {
  opacity: 0;
}

#item-1:target ~ .item-1 {
  opacity: 1;
}

#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}

/*-----Our offerings!-----*/

.offerings .title {
  font-size: 42px;
  line-height: 1.2;
}

.offerings .text {
  font-size: 16px;
  line-height: 1.5;
}

.offerings .item-title {
  font-size: 18px;
  line-height: 1.4;
}

.offerings .item-text {
  font-size: 14px;
  line-height: 1.5;
}

/* .offerings .image {
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 275px;
} */

/*-----Favorites!-----*/

.favorites .title {
  font-size: 42px;
  line-height: 1.17;
  text-align: center;
}

.favorites .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.favorites .item {
  width: 347px;
  border: 16px solid var(--border-color);
  border-radius: 197.5px;
}

.favorites .image {
  border-color: transparent;
  border-radius: 157.5px;
}

/*-----Customers Say!-----*/

.customers .title {
  font-size: 42px;
  line-height: 1.17;
}

.customers .text {
  font-size: 16px;
  line-height: 1.19;
}

.customers .item-title {
  font-size: 18px;
  line-height: 1.17;
}

.customers .name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.customers .dude {
  font-size: 14px;
  line-height: 1.5;
}

/*-----Special Offers!-----*/

.offers .title {
  font-size: 42px;
  line-height: 1.2;
}

.offers .text {
  font-size: 16px;
  line-height: 1.5;
}

/*----------------Site Footer!------------------*/

.page-footer .text-subscripe {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.page-footer .text-privacy {
  font-size: 12px;
  line-height: 1.17;
}

.page-footer .text-privacy .link {
  color: var(--text-link-color);
  text-decoration: underline;
}

.page-footer .settings .item .link {
  color: var(--text-link-color);

  font-size: 12px;
  line-height: 1.17;
  text-decoration: underline;
}

.page-footer .all-rights {
  font-size: 12px;
  line-height: 1.17;
}
